footerTitle: Aliquam sed mauris
footerText: Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
footerButtonTitle: Learn More
footerButtonLink: pages/elements.html

<footer id="footer">
	<section>
		<h2>{{ site.footerTitle }}</h2>
		<p>{{ site.footerText }}</p>
		<ul class="actions">
			<li><a href="{{ site.footerButtonLink }}" class="button">{{ site.footerButtonTitle }}</a></li>
		</ul>
	</section>
	<section>
		<h2>Etiam feugiat</h2>
		<dl class="alt">
			<dt>Address</dt>
			<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
			<dt>Phone</dt>
			<dd>(000) 000-0000 x 0000</dd>
			<dt>Email</dt>
			<dd><a href="#">information@untitled.tld</a></dd>
		</dl>
		<ul class="icons">
			{% if site.twitter %}
          			<li><a href="https://twitter.com/{{ site.twitter }}" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
        		{% endif %}
			{% if site.facebook %}
        			<li><a href="https://www.facebook.com/{{ site.facebook }}" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
        		{% endif %}
			{% if site.instagram %}
        			<li><a href="https://www.instagram.com/{{ site.instagram }}" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
        		{% endif %}
			{% if site.github %}
				<li><a href="https://github.com/{{ site.github }}" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
	 		{% endif %}
			{% if site.dribbble %}
        			<li><a href="https://dribbble.com/{{ site.dribbble }}" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
        		{% endif %}
		</ul>
	</section>
	<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
</footer>

<!-- Old footer below -->

        {% if site.phone %}
        <li><a href="tel:{{ site.phone }}" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
        {% endif %}
        <li><a href="mailto:{{ site.email }}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="icon style2 fa-rss"><span class="label">RSS</span></a></li>
      <li>&copy; {{ site.copyright }}. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>