{% for page in site.pages %}
	{% if page.spotlightStyle == one %}
	<!-- Introduction -->
	<section id="intro" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>{{ page.tagline }}</h2>
				</header>
				<p>{{ page.description }}</p>
				<ul class="actions">
					<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle }}</a></li>
				</ul>
			</div>
			<span class="image"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>
		</div>
	</section>
	{% else if page.spotlightStyle == two %}
	<!-- First Section -->
	<section id="first" class="main special">
		<header class="major">
			<h2>{{ page.tagline }}</h2>
		</header>
		<ul class="features">
			<li>
				<span class="{{ page.icon1 }}"></span>
				<h3>{{ page.feature1 }}</h3>
				<p>{{ page.description1 }}</p>
			</li>
			<li>
				<span class="{{ page.icon2 }}"></span>
				<h3>{{ page.feature2 }}</h3>
				<p>{{ page.description2 }}</p>
			</li>
			<li>
				<span class="{{ page.icon3 }}"></span>
				<h3>{{ page.feature3 }}</h3>
				<p>{{ page.description3 }}</p>
			</li>
		</ul>
		<footer class="major">
			<ul class="actions">
				<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle}}</a></li>
			</ul>
		</footer>
	</section>
	{% else if page.spotlightStyle == three %}

	{% else if page.spotlightStyle == four %}
	<!-- Get Started -->
	<section id="cta" class="main special">
		<header class="major">
			<h2>{{ page.tagline }}</h2>
			<p>{{ page.description }}</p>
		</header>
		<footer class="major">
			<ul class="actions">
				<li><a href="{{ page.secondButtonLink }}" class="button special">{{ page.secondButtonTitle }}</a></li>
				<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle }}</a></li>
			</ul>
		</footer>
	</section>
	{% endif %}
{% endfor %}

<!-- Second Section -->
<section id="second" class="main special">
	<header class="major">
		<h2>Ipsum consequat</h2>
		<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
	</header>
	<ul class="statistics">
		<li class="style1">
			<span class="icon fa-code-fork"></span>
			<strong>5,120</strong> Etiam
		</li>
		<li class="style2">
			<span class="icon fa-folder-open-o"></span>
			<strong>8,192</strong> Magna
		</li>
		<li class="style3">
			<span class="icon fa-signal"></span>
			<strong>2,048</strong> Tempus
		</li>
		<li class="style4">
			<span class="icon fa-laptop"></span>
			<strong>4,096</strong> Aliquam
		</li>
		<li class="style5">
			<span class="icon fa-diamond"></span>
			<strong>1,024</strong> Nullam
		</li>
	</ul>
	<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
	<footer class="major">
		<ul class="actions">
			<li><a href="generic.html" class="button">Learn More</a></li>
		</ul>
	</footer>
</section>