{% for my_page in site.pages %}
	{% if my_page.spotlightStyle == one %}
	<!-- Introduction -->
	<section id="{{ my_page.id }}" class="main">
		<div class="spotlight">
			<div class="content">
				<header class="major">
					<h2>{{ page.tagline }}</h2>
				</header>
				<p>{{ page.description }}</p>
				<ul class="actions">
					<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle }}</a></li>
				</ul>
			</div>
			<span class="image"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>
		</div>
	</section>
	{% else if my_page.spotlightStyle == two %}
	<!-- First Section -->
	<section id="{{ my_page.id }}" class="main special">
		<header class="major">
			<h2>{{ page.tagline }}</h2>
		</header>
		<ul class="features">
			<li>
				<span class="{{ page.icon1 }}"></span>
				<h3>{{ page.feature1 }}</h3>
				<p>{{ page.description1 }}</p>
			</li>
			<li>
				<span class="{{ page.icon2 }}"></span>
				<h3>{{ page.feature2 }}</h3>
				<p>{{ page.description2 }}</p>
			</li>
			<li>
				<span class="{{ page.icon3 }}"></span>
				<h3>{{ page.feature3 }}</h3>
				<p>{{ page.description3 }}</p>
			</li>
		</ul>
		<footer class="major">
			<ul class="actions">
				<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle}}</a></li>
			</ul>
		</footer>
	</section>
	{% else if page.spotlightStyle == three %}
	<!-- Second Section -->
	<section id="second" class="main special">
		<header class="major">
			<h2>{{ page.tagline }}</h2>
			<p>{{ page.description }}</p>
		</header>
		<ul class="statistics">
			<li class="style1">
				<span class="{{ page.icon1 }}"></span>
				<strong>{{ page.label1 }}</strong> {{ page.title1 }}
			</li>
			<li class="style2">
				<span class="{{ page.icon2 }}"></span>
				<strong>{{ page.label2 }}</strong> {{ page.title2 }}
			</li>
			<li class="style3">
				<span class="{{ page.icon3 }}"></span>
				<strong>{{ page.label3 }}</strong> {{ page.title3 }}
			</li>
			<li class="style4">
				<span class="{{ page.icon4 }}"></span>
				<strong>{{ page.label4 }}</strong> {{ page.title4 }}
			</li>
			<li class="style5">
				<span class="{{ page.icon5 }}"></span>
				<strong>{{ page.label5 }}</strong> {{ page.title5 }}
			</li>
		</ul>
		<p class="content">{{ page.longText }}</p>
		<footer class="major">
			<ul class="actions">
				<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle }}</a></li>
			</ul>
		</footer>
	</section>
	{% else if page.spotlightStyle == four %}
	<!-- Get Started -->
	<section id="cta" class="main special">
		<header class="major">
			<h2>{{ page.tagline }}</h2>
			<p>{{ page.description }}</p>
		</header>
		<footer class="major">
			<ul class="actions">
				<li><a href="{{ page.secondButtonLink }}" class="button special">{{ page.secondButtonTitle }}</a></li>
				<li><a href="{{ page.url }}" class="button">{{ page.buttonTitle }}</a></li>
			</ul>
		</footer>
	</section>
	{% endif %}
{% endfor %}